body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 425px) {
    body {
        background: #282828;
    }

    #goBackBtn {
        color: #6bbb57;
        margin-bottom: 0;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 2em;
    }
    #goBackBtn:active {
        color: #33ff00;
        outline: none;
    }

    .mainCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logoCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #6bbb57;
        font-size:  2em;
    }

    .logoIconCont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
    }

    .logoIcon {
        height: 250px;
    }

    .signInBtnCont {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .signInBtn {
        margin: 10px;
        font-size: 1.5em;
        width: 250px;
        background: none;
        border-radius: 25px;
        color: #6bbb57;
        border: 2px solid #6bbb57;
        outline: none;
        padding: 5px;
    }

    .userIcon {
        height: 150px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .inputCont form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signUpInput {
        font-size: 1.5em;
        margin: 10px;
        padding: 8px 15px;
        border: none;
        border-radius: 16px 0 16px 0;
        border-bottom: 5px solid #6bbb57;
        color: white;
        background: #5b5b5b;
        opacity: 0.7;
        transition: 0.2s ease-out;
    }
    .signUpInput:focus {
        border-bottom: 5px solid #33ff00;
        opacity: 1;
        outline: none;
    }

    .showPasswordBtn {
        font-size: 1.5em;
        color: #6bbb57;
        z-index: 1;
        position: relative;
        left: -50px;
        width: 0;
    }

    #logInBtn {
        margin-top: 40px;
    }

    ::placeholder {
        color: white;
    }

    .messageCont {
        font-size: 1.2em;
        margin-top: 5px;
        padding: 10px;
        border: 2px solid red;
        color: red;
        display: flex;
    }

    .warning {
        color: red;
        margin-right: 10px;
    }

    .testMenu {
        height: 10vh;
        background: #6bbb57;
        width: 100%;
        color: black;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .addSessionCont {
        margin-top: 175px;
    }

    #addSessionBtn {
        background: #3c3c3c;
        color: #6bbb57;
        outline: none;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: 10px solid #6bbb57;
        font-size: 1.1em;
    }

    .addRouteCont {
        margin-top: 20px;
        width: 100%;
        display:flex;
    }

    #addRouteBtnCont {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        width: 50px;
        height: 50px;
        background: black;
        color: #6bbb57;
    }

    #addRouteLabelCont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: #3c3c3c;
    }

    #routeCont {
        display: flex; /*CHANGE TO NONE*/
        flex-direction: column;
        align-items: center;
        height: 75vh;
        width: 95%;
        margin-top: 10px;
        background: #3c3c3c;
        color: #6bbb57;
    }

    #routeDetailsTitle{
        color: #6bbb57;
        margin: 10px;
        border-bottom: 2px solid #6bbb57
    }

    .routeDetailsLabel {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    #routeNameInput {
        width: 90%;
    }

    #routeNameInput::placeholder {
        color: black;
    }

    #routeGrade {
        width: 16%;
    }

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    .sentLabel {
        cursor: pointer;
        text-indent: -9999px;
        width: 90px;
        height: 40px;
        background: grey;
        display: block;
        border-radius: 40px;
        position: relative;
        outline:none;
    }
    .sentLabel:focus {
        outline:none !important;
    }
    #sentSwitch {
        outline:none !important;
    }
    
    .sentLabel:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 30px;
        transition: 0.3s;
        outline:none;
    }
    
    input:checked + label {
        background: #6bbb57;
        outline:none;
    }
    
    input:checked + .sentLabel:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
        outline:none;
    }
    
    .sentLabel:active:after {
        width: 40px;
        outline:none;
    }


    

    
}