body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 425px) {
    body {
        background: #282828;
    }

    #goBackBtn {
        color: #6bbb57;
        margin-bottom: 0;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 2em;
    }
    #goBackBtn:active {
        color: #33ff00;
        outline: none;
    }

    .mainCont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logoCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #6bbb57;
        font-size:  2em;
    }

    .logoIconCont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
    }

    .logoIcon {
        height: 250px;
    }

    .signInBtnCont {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .signInBtn {
        margin: 10px;
        font-size: 1.5em;
        width: 250px;
        background: none;
        border-radius: 25px;
        color: #6bbb57;
        border: 2px solid #6bbb57;
        outline: none;
        padding: 5px;
    }

    .userIcon {
        height: 150px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .inputCont form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signUpInput {
        font-size: 1.5em;
        margin: 10px;
        padding: 8px 15px;
        border: none;
        border-radius: 16px 0 16px 0;
        border-bottom: 5px solid #6bbb57;
        color: white;
        background: #5b5b5b;
        opacity: 0.7;
        transition: 0.2s ease-out;
    }
    .signUpInput:focus {
        border-bottom: 5px solid #33ff00;
        opacity: 1;
        outline: none;
    }

    .showPasswordBtn {
        font-size: 1.5em;
        color: #6bbb57;
        z-index: 1;
        position: relative;
        left: -50px;
        width: 0;
    }

    #logInBtn {
        margin-top: 40px;
    }

    ::placeholder {
        color: white;
    }

    /*===========================================================*/

    #navbar {
        margin: 0px;
        height: 10vh;
        width: 100vw;
        background: black;
    }

    #nav-header{
        margin: 0px;
        height: 10vh;
        width: 100vw;
        background: black;
    }
    #content {
        width: 100vw;
        height: 80vh;
        background: #2F2F2F;
    }

    .nav-icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        font-size: 2.0rem;
        height: inherit;
    }

    .nav-item{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
    }

    .nav-title {
        font-size: 0.8rem;
        margin-top: 0.5rem;
    }
    

    /*====================HEADER================================*/
    .logoCont-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #6bbb57;
        font-size:  2rem;
        margin-top: 0px;
    }

    .logoIconCont-header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.4rem;
        width: 2.4rem;

    }

    .logoIcon-header {
        height: 2.5rem;
        margin-top: 0px;
    }

    .logoTitle-header{
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

    }
    

    .messageCont {
        font-size: 1.2em;
        margin-top: 5px;
        padding: 10px;
        border: 2px solid red;
        color: red;
        display: flex;
    }

    .warning {
        color: red;
        margin-right: 10px;
    }
}

/*======================Map================================*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}