
    <div id="navbar">
        <div class="nav-icons">
            <a class = "nav-item" href = "/">
                <i class="fas fa-home"></i>
                <p class = "nav-title">Home</p>
            </a>
            <a class = "nav-item" href = "/">
                <i class="fas fa-book"></i>     
                <p class = "nav-title">Logs</p>       
            </a>
            <a class = "nav-item" href = "/">
                <i class="fas fa-stopwatch"></i>
                <p class = "nav-title">Timer</p>
            </a>
            <a class = "nav-item" href = "/">
                <i class="fas fa-map-marker-alt"></i>
                <p class = "nav-title">Map</p>
            </a>
            <a class = "nav-item" href = "/">
                <i class="fas fa-dumbbell"></i>        
                <p class = "nav-title">Tutorials</p>
            </a>
        </div>
    </div>
