
    <div id="navbar">
        <div class="nav-icons">
            <a class = "nav-item" href = "/users/data">
                <i class="far fa-chart-bar"></i>
                <p class = "nav-title">Data</p>
            </a>
            <a class = "nav-item" href = "/users/add-climb">
                <i class="fas fa-mountain"></i>     
                <p class = "nav-title">Climb</p>       
            </a>
            <a class = "nav-item" href = "/users/nearby">
                <i class="fas fa-location-arrow"></i>
                <p class = "nav-title">Map</p>
            </a>
            <a class = "nav-item" href = "/users/info">
                <i class="fas fa-info"></i>
                <p class = "nav-title">Info</p>
            </a>
            <a class = "nav-item" href = "/">
                <i class="fas fa-sign-out-alt"></i>        
                <p class = "nav-title">Log Out</p>
            </a>
        </div>
    </div>
