<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>Redpoint</title>
    </head>

    <body>

        <h1>HOMEPAGE</h1>

        <form action='/login' method='GET'>
            <button class='signInBtn' id='logInBtn'>Log In</button>
        </form>

        <form action='/register' method='GET'>
            <button class='signInBtn' id='registerBtn'>Register</button>
        </form>



        
    </body>
</html>