<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    {{> nav-header}}
    <div id = "content">
    <div id = "map">

    </div>
    {{> navbar}}


    <script src = "/js/maps.js"></script>
</body>
</html>