<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>CHALK-UP</title>
    </head>

    <body>

    <div class="mainCont">

        <div class="testMenu">
            <a>Data</a>
            <a>Add Climb</a>
            <a>Nearby</a>
            <a>Info</a>
        </div>

        <div class="addSessionCont">
            <div id="addSessionBtnCont">
                <i id="addSessionBtn" class="fas fa-plus addSessionBtn"></i>
            </div>
            <div id="addSessionLabelCont">
                <span id="addSessionLabel">Add Session</span>
            </div>
        </div>

        <div id="routeCont">
            

        </div>


    </div>


        {{> footerUsers}}    
    </body>
</html>