<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>CHALK-UP</title>
    </head>

    <body>

    <div class="mainCont">
       
    </div>


        {{> footer}}    
    </body>
</html>