<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>CHALK-UP</title>
    </head>

    <body>

    <div class="mainCont">

        <div class="testMenu">
            <a>Data</a>
            <a>Add Climb</a>
            <a>Nearby</a>
            <a>Info</a>
        </div>

        <div class="addSessionCont">
            <form action='/users/create-session' method="POST">
                <div id="addSessionBtnCont">
                    <button id="addSessionBtn" type='submit'>
                        <h1>Start</h1>
                        <h1>Session</h1>
                    </button>
                </div>
            </form>
        </div>

    {{> navbar}}
    </div>

    

        <script src='../js/users.js'></script>
    </body>
</html>