<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>Redpoint</title>
    </head>

    <body>

        <h1>DATA</h1>


       <script src='../js/users.js'></script>
    </body>
</html>