<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>Redpoint</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    
    <body>
        {{> nav-header}}
        <div id = "content">
            Content
        </div>
        {{> navbar}}



        
    </body>
</html>