<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>Chalk-Up</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    
    <body>
        {{> navHeader}}

        <div class="mainCont">

        <div class="infoCont">

            <h2 id="infoTitle">Indoor Rock Climbing Basics</h2>

            <div class="typesCont" id="typesOfGymClimbing">
                <h4 class='infoDetailTitle'>Types of Gym Climbing</h4>
                <i class="fas fa-chevron-down moreInfo"></i>
            </div>
            <div class="infoContents hidden" id="infoContents">
                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Top-Rope Climbing</h5>
                        <h6 class="infoContentsTextDetail">This is where a novice enters the world of harness-and-rope climbing. When you’re top roping, the rope is secured to an overhead anchor in the gym. You tie into one end of the rope; the other end of the rope is held by a belayer, who manages the rope to catch you in case of a fall. The belayer might be a trained staff person, a friend with belay certification or an auto belay device.</h6>
                    </p>
                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Lead Climbing</h5>
                        <h6 class="infoContentsTextDetail">Once you've become a skilled top-rope climber, your next step is lead climbing. When lead climbing, you’ll tie into one end of the rope and clip it into a series of quickdraws that are already attached to bolts on the gym’s wall. Again, you’ll have a belayer.<br>
                        Lead climbing indoors is very much like sport climbing outside, except that indoors the quickdraws are already in place.<br>
                        The challenge with lead climbing is that if you slip or miss the next quickdraw, you’ll fall a short distance back to the previous clipped–in point. That’s a farther, harder fall than you’d have when top-roping.</h6>
                    </p>
            </div>

        </div>




        </div>


        {{> navbar}}

       <script src='../js/users-info.js'></script>
    </body>
</html>