<!doctype html>
<html lang="en">

    <head>
        {{> header}}
        <title>Chalk-Up</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    
    <body>
        {{> navHeader}}

        <div class="mainCont">

        <div id="infoTitleCont" class="infoCont">

            <h2 id="infoTitle">Indoor Rock Climbing Basics</h2>

            <div class="typesCont" id="typesOfGymClimbing">
                <h4 class='infoDetailTitle'>Types of Gym Climbing</h4>
                <i class="fas fa-chevron-down moreInfo"></i>
            </div>
            <div class="infoContents hidden" id="infoContentsStyle">
                <div class="imageCont">
                    <img id="styleImage" src="../images/top-rope-climbing-1.png">
                </div>
                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Top-Rope Climbing</h5>
                        <h6 class="infoContentsTextDetail">This is where a novice enters the world of harness-and-rope climbing. When you’re top roping, the rope is secured to an overhead anchor in the gym. You tie into one end of the rope; the other end of the rope is held by a belayer, who manages the rope to catch you in case of a fall. The belayer might be a trained staff person, a friend with belay certification or an auto belay device.</h6>
                    </p>
                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Lead Climbing</h5>
                        <h6 class="infoContentsTextDetail">Once you've become a skilled top-rope climber, your next step is lead climbing. When lead climbing, you’ll tie into one end of the rope and clip it into a series of quickdraws that are already attached to bolts on the gym’s wall. Again, you’ll have a belayer.<br>
                        Lead climbing indoors is very much like sport climbing outside, except that indoors the quickdraws are already in place.<br>
                        The challenge with lead climbing is that if you slip or miss the next quickdraw, you’ll fall a short distance back to the previous clipped–in point. That’s a farther, harder fall than you’d have when top-roping.</h6>
                    </p>
            </div>

            <div class="typesCont" id="routeGrades">
                <h4 class='infoDetailTitle'>Route Grades</h4>
                <i class="fas fa-chevron-down moreInfo"></i>
            </div>
            <div class="infoContents hidden" id="infoContentsGrade">
                
                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Yosemite Decimal System (YDS)</h5>
                        <h6 class="infoContentsTextDetail">Initially developed to describe a full range of backcountry travel, the YDS rates technical rock climbs from 5.0 through 5.15.<br>
                        To further define a route's difficulty, a sub classification system of letters (a, b, c or d) or plus/minus (+, -) is used for climbs 5.10 and higher. Thus a route rated 5.10a is easier than one rated 5.10d. A route graded 5.10- would be somehwere between 5.10a - 5.10b and a route graded 5.10+ would be between 5.10c - 5.10d.
                        </h6>
                    </p>
                    <div class="imageCont">
                        <img id="gradeImage" src="../images/Screen Shot 2020-11-02 at 12.49.56 PM.png">
                    </div>
                    <div class="imageCont">
                        <iframe class="video finalEntry" width="400" height="250" src="https://www.youtube.com/embed/CbEuDamWKX4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
            </div>

            <div class="typesCont" id="gear">
                <h4 class='infoDetailTitle'>Gear</h4>
                <i class="fas fa-chevron-down moreInfo"></i>
            </div>
            <div class="infoContents hidden" id="infoContentsGear">

                    <div class="imageCont">
                        <img id="gearImage" src="../images/Screen Shot 2020-11-02 at 1.11.45 PM.png">
                    </div>

                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Clothing</h5>
                        <h6 class="infoContentsTextDetail">Wear clothes that offer comfort and mobility (stretch). You want a loose fit, but not so baggy that your clothes get caught on holds or gear. Yoga clothing works well. Wear something you don’t mind getting chalk on, and something that can withstand abrasion from the textured surfaces on walls and climbing holds.
                        </h6>

                        <h5 class="infoContentsTextTitle">Harness</h5>
                        <h6 class="infoContentsTextDetail">A climbing harness is an item of climbing equipment for rock-climbing, abseiling, or other activities requiring the use of ropes to provide access or safety such as industrial rope access, working at heights, etc. A harness secures a person to a rope or an anchor point.
                        </h6>

                        <h5 class="infoContentsTextTitle">Locking carabiner</h5>
                        <h6 class="infoContentsTextDetail">Carabiners are metal loops with spring-loaded gates (openings), used as connectors. Once made primarily from steel, almost all carabiners for recreational climbing are now made from a light weight aluminum alloy. Steel carabiners are much heavier, but harder wearing, and therefore are often used by instructors when working with groups.
                        </h6>

                        <h5 class="infoContentsTextTitle">Chalk Bag and Chalk</h5>
                        <h6 class="infoContentsTextDetail">Chalk (aka magnesium carbonate, MgCO3) isn’t just for gymnasts: Climbers everywhere sport pasty white hands to combat moisture and improve grip.<br>
                        <div class="imageCont">
                            <img id="chalkImage" src="../images/rinckenberger_111815_0955_fill_chalk_bag.jpg">
                        </div>
                        Chalk is either pure MgCO3 or an added drying agent is mixed in. Each formulation has its fans. Some welcome the extra drying, while others prefer the feel of pure chalk and would rather not breathe in the added agents. The main difference with chalk is in the form:
                        <ul id='chalkTypes'>
                            <li><b>Block chalk</b> is pure chalk in a big hunk. The appeal here is less about cost savings and more that you get to crush it to your preferred consistency. It’s also less messy to transport before you crush it.</li>

                            <li><b>Loose chalk</b> includes both pure chalk and chalk with drying agents. The convenience here is that it’s already ground for you. Dump it into a chalk bag or ball and you’re good to go. Some brands offer finer and coarser grinds.</li>

                            <li><b>Eco chalk</b> is a response to concerns about visually polluting rock surfaces. Consisting solely of a colorless drying agent, it can be an acceptable alternative for gyms or climbing areas where traditional chalk is banned. Wash hands after use, though, because your eyes can be sensitive to it. </li>

                            <li><b>Liquid chalk</b> After you rub this chalk/alcohol blend on hands, the alcohol quickly dries, leaving a chalk residue. A plus is that it keeps both chalk dust and chalk marks to a minimum.</li>
                        </ul>
                        </h6>

                        
                        <h5 class="infoContentsTextTitle">Shoes</h5>
                        <div class="imageCont">
                            <img id="shoesImage" src="../images/LOZAJO3SZNEADJXSUHML4HFV7M.jpg">
                        </div>
                        <h6 class="infoContentsTextDetail" id="shoeDetails">Specifically designed foot wear is usually worn for climbing. To increase the grip of the foot on a climbing wall or rock face due to friction, the shoe is soled with a vulcanized rubber layer. Usually, shoes are only a few millimetres thick and fit very snugly around the foot. Stiffer shoes are used for "edging", more compliant ones for "smearing". Some have foam padding on the heel to make descents and rappels more comfortable. Climbing shoes can be re-soled which decreases the frequency that shoes need to be replaced.
                        </h6>
                    </p>  
            </div>

            <div class="typesCont" id="holds">
                <h4 class='infoDetailTitle'>Climbing Holds</h4>
                <i class="fas fa-chevron-down moreInfo"></i>
            </div>
            <div class="infoContents hidden" id="infoContentsHolds">

                    <div class="imageCont">
                        <iframe class="video" width="400" height="250" src="https://www.youtube.com/embed/9CuByOqafxA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                
                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Jugs</h5>
                        <div class="imageCont">
                            <img class="holdsImg" src="../images/jugs.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">Jugs are every climber's best friend. The term basically encompasses every large, easy to grab hold. They can be held with the entire hand (and sometimes both) while requiring minimal energy. Beginner routes can be made up entirely of jugs. But even advanced routes will often have them on overhangs and roofs.
                        </h6>

                        <h5 class="infoContentsTextTitle">Slopers</h5>
                        <div class="imageCont">
                            <img class="holdsImg" src="../images/sloppers.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">Slopers can be very difficult for new climbers but are quite a necessity on more advanced routes. They tend to have no lip or edge of any kind. Or if they do possess a featured surface, it is practically useless to get a direct grip. Slopers make up for their roundness with a rough or "positive" surface.
                        </h6>

                        <h5 class="infoContentsTextTitle">Pockets</h5>
                        <div class="imageCont">
                            <img class="holdsImg" src="../images/pockets.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">Pockets are essentially round holes that allow you to hook between 1 and 3 fingers. They vary in depth and texture but generally do not have any sort of lip.
                        </h6>

                        <h5 class="infoContentsTextTitle">Pinches</h5>
                        <div class="imageCont">
                            <img class="holdsImg" src="../images/pinches.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">Pinches are usually vertically oriented holds. They can share similar properties to slopers and other holds, but are narrow enough to fit the entire hand around.
                        </h6>

                        <h5 class="infoContentsTextTitle">Edges</h5>
                        <div class="imageCont">
                            <img class="holdsImg" src="../images/edges.webp">
                        </div>
                        <h6 class="infoContentsTextDetail finalEntry">Edges are defined by their pronounced edge and flat top surface. They are similar to crimps but significantly larger and with no lip. Edges are usually wide enough to fit four fingers.
                        </h6>
                    </p>
                    
            </div>

            <div class="typesCont" id="techniques">
                <h4 class='infoDetailTitle'>Techniques</h4>
                <i class="fas fa-chevron-down moreInfo"></i>
            </div>
            <div class="infoContents hidden" id="infoContentsTechniques">

                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Heel Hook</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/toe-hook.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">It seems simple in theory- throw your heel around a hold or feature to use those powerful leg muscles to pull you into the wall. But when used properly, this simple move can is one of the best climbing techniques available for taking weight off your arms, keeping your hips close the wall for balance, and generating power towards your next hold.</h6>

                        <h5 class="infoContentsTextTitle">Toe Hook</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/heel-hook.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">An essential footwork technique for steep overhangs. Using the friction of shoe-rubber on the top of your toes and flexing your foot up, against the rock. This position is useful for keeping four points of contact on the wall, and distributing body weight to your feet - giving your arm muscles a rest.</h6>

                        <h5 class="infoContentsTextTitle">Smear</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/smear.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">When there’s a lack of footholds, using friction to of shoe rubber on the bare rock. A tip on smearing - fake it til you make it! The more pressure you put on your smearing foot, the friction there is to help it stick.</h6>

                        <h5 class="infoContentsTextTitle">Flag</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/flag.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">Flagging is a body position essential for beginners breaking into higher grades! Flagging allows you to use a free-hanging foot as a counterbalance to statically make the next move. By extending your foot out to one side of your body it acts like a tail, keeping your balance and helping you use less energy on the wall.</h6>

                        <h5 class="infoContentsTextTitle">Lock-Off</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/lock-off.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">A static, controlled movement of pulling down on a hand-hold until your arm is in a bent position, then using body tension to hold the locked position in order to reach the next hold with your free hand.</h6>

                        <h5 class="infoContentsTextTitle">Deadpoint</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/deadpoint.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">A dynamic climbing technique in which the climber times a their movement with the brief instance when their bodyweight is not being pulled downwards by gravity. Not to be confused with a dyno.</h6>

                        <h5 class="infoContentsTextTitle">Dyno</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/dyno.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">A dynamic climbing movement that requires an explosion of momentum to send your body in the direction of your next handhold. A true dyno requires that both hands to simultaneously leave the wall on their way to grabbing the next holds. While dynos occur in outdoor boulder problems and roped routes, they are often set for indoor competition boulders due to their showy and outrageous nature.</h6>

                        <h5 class="infoContentsTextTitle">Traverse</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/traverse.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">Traversing means climbing horizontally instead of vertically. Traversing can be an excellent way to warm up, but there are also plenty of classic outdoor boulder problems that simply traverse to a low top-out.</h6>

                        <h5 class="infoContentsTextTitle">Drop-Knee</h5>
                        <div class="imageCont">
                            <img class="techImg" src="../images/drop-knee.webp">
                        </div>
                        <h6 class="infoContentsTextDetail">Drop-knee is a footwork technique that allows certain moves to feel significantly easier! It involves extended straight on a foothold, and heavily weighting the outside edge of the opposing foot— swiveling the corresponding hip towards the wall and torquing the knee downwards. This knee torque brings your hip close to the wall, allowing an easier reach to the next handhold.</h6>
                        
                    </p>
                    
            </div>

            <div class="typesCont" id="terminology">
                <h4 class='infoDetailTitle'>Terminology</h4>
                <i class="fas fa-chevron-down moreInfo"></i>
            </div>
            <div class="infoContents hidden" id="infoContentsTerminology">
                
                    <p class='infoContentsText'>
                        <h5 class="infoContentsTextTitle">Rock Climbing Glossary</h5>
                        <h6 class="infoContentsTextDetail">
                        <ul>
                            <li class="terminologyEntry"><b>Anchor:</b>
                            A point of attachment for a climbing rope, usually made with slings, runners or the rope itself. May be top-rope anchors, belay anchors or a protection piece mid-climb.
                            </li>
                            <li class="terminologyEntry"><b>Auto-lock:</b>
                            Spring-loaded, twisting mechanism on a carabiner gate that locks by itself when the gate is closed.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Barn door:</b>
                            To swing sideways out from the rock due to being off balance. Often occurs with a lie-back maneuver.
                            </li>
                            <li class="terminologyEntry"><b>Belay:</b>
                            To keep a climber from falling too far by using friction on the rope. The system that stops a climber's fall. It includes the rope, anchors, belay device and the belayer.
                            </li>
                            <li class="terminologyEntry"><b>Belayer:</b>
                            The person who manages the rope so as to catch the climber on the other end in case of a fall or a slip.
                            </li>
                            <li class="terminologyEntry"><b>Belayer:</b>
                            The person who manages the rope so as to catch the climber on the other end in case of a fall or a slip.
                            </li>
                            <li class="terminologyEntry"><b>Beta:</b>
                            Information about a climb. "Running beta" is information given while the climb is being executed.
                            </li>
                            <li class="terminologyEntry"><b>Bouldering:</b>
                            Climbing close to the ground without the use of a rope. Typically used for practicing traverses, weight transfers, and foot and hand placements. Can be done on boulders or at the base of a rock face.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Clean:</b>
                            A route that is free of vegetation and loose rock. Also, to remove protection as you second, or follow, a lead climber.
                            </li>
                            <li class="terminologyEntry"><b>Crux:</b>
                            The toughest move or sequence of moves on a climb.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Drag:</b>
                            Friction created when a climbing rope passes through multiple pieces of protection, especially if they are not in a straight line up the route. Can pull a lead climber off balance.
                            </li>
                            <li class="terminologyEntry"><b>Dynamic:</b>
                            Climbing rope that elongates or stretches to absorb the impact of a fall. Opposite of static. Also, a climbing move in which the climber lunges or leaps to the next hold. Also called a "dyno move".
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Flash:</b>
                            A red point ascent (first try on lead) utilizing prior inspection, information or beta from others.
                            </li>
                            <li class="terminologyEntry"><b>Free climb:</b>
                            To climb using only hands and feet on the rock. Rope is used only for safety and is not relied upon for upward progress. Opposite of an aid climb.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Gripped:</b>
                            To be paralyzed by fear or confusion.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Jam:</b>
                            To wedge a body part into a crack on a rock climb in order to put weight on it and move upward. Includes fingers, hands and feet.
                            </li>
                            <li class="terminologyEntry"><b>Jug:</b>
                            Large, easily gripped hold. Also, to climb up a fixed rope using an ascender.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Lead:</b>
                            To be the first person on a climb, either clipping the rope into bolts or placing protection as you go. Belayed by the second, below you.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Mantel:</b>
                            A climbing move in which downward pressure is applied with the hands to a ledge, lifting the body high enough to get the feet on that same ledge. Usually used when no handholds are available.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Pitch:</b>
                            The length of a climb that can be protected by 1 rope length. A pitch is led by the lead climber and cleaned by the second (or follower).
                            </li>
                            <li class="terminologyEntry"><b>Project:</b>
                            A project is a route or climb that a climber is dedicating time to work on. Generally at or just aboce their ability level.
                            </li>
                            <li class="terminologyEntry"><b>Pumped:</b>
                            To be weakened or in pain (usually in the forearms) from a strenuous move or climb.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Quickdraw:</b>
                            A short runner used to attach a rope to a bolted anchor with carabiners.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Red point:</b>
                            To lead a climb without falling or putting weight on the rope, regardless of number of attempts. Applies to difficult climbs.
                            </li>
                            <li class="terminologyEntry"><b>Route:</b>
                            The path or moves up a specific climb.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Send:</b>
                            Climbing term for successfully reaching the top and finishing a climb.
                            </li>
                            <li class="terminologyEntry"><b>Send Clean:</b>
                            Climbing term for completing a climbing route without falling or resting on gear.
                            </li>
                            <li class="terminologyEntry"><b>Smear:</b>
                            Climbing technique in which the sole of the shoe, plus proper weight over the feet, provides traction for moving upward.
                            </li>
                            <li class="terminologyEntry"><b>Sport climbing:</b>
                            Rock climbing using pre-placed protection such as bolts or a top rope. Frequently involves difficult, gymnastic moves. Opposite of traditional climbing.
                            </li>
                            <li class="terminologyEntry"><b>Static:</b>
                            Limited movement or stretch, when referring to a climbing rope. Static ropes are used for rescue, caving and rappelling, but do not stretch enough to absorb the impact of a leader fall when climbing. Opposite of dynamic.
                            </li>
                            <li class="terminologyEntry"><b>Stemming:</b>
                            Technique in which the hands and/or feet are pressed in opposition far out to each side, as in a dihedral or wide chimney.
                            </li>
                            <hr>
                            <li class="terminologyEntry"><b>Take:</b>
                            A command phrase used to tell the belayer to take up slack in the rope.
                            </li>
                            <li class="terminologyEntry"><b>Top rope:</b>
                            A rope that is passed through a fixed anchor at the top of a climbing wall or cliff, with each end tied to the climber and the belayer at the bottom. A top rope (with a watchful belayer) ensures that the climber is always protected from falling very far, and is thus a good way to learn to climb. "Top-roping" is the term for this type of climbing.
                            </li>
                            <hr>
                            <li class="terminologyEntry finalEntry">
                            <b>Whipper:</b>
                            A long fall.
                            </li>
                        </ul>
                        </h6>
                    </p>
                    
            </div>

            

        </div>




        </div>


        {{> navbar}}

       <script src='../js/users-info.js'></script>
    </body>
</html>