<!DOCTYPE html>
<html>
  <head>
    {{> header}}
    <title>Places Search Box</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi1mGkCAUSHtMZ6pRCWg8VoVhkj5ROb1c&callback=init&libraries=places&v=weekly"
      defer
    ></script>
    <!-- jsFiddle will insert css and js -->
  </head>
  <body>
    <div class="mainCont">
        {{> navHeader}}
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          {{# locations}}
          <div class = "location-title">{{gym_name}}</div>
          <div class = "location-content">{{address}}</div>
          <div class = "location-content">rating: {{rating}} in {{reviews}} reviews</div>
          {{/ locations}}
        </div>
      
      </div>
      <button
      id="locations-button">View Table</button>
      <div id="map"></div>
      
      {{> navbar}}
      </div>
    <script src = "/js/location-modal.js"></script>
    <script src= "/js/maps.js"></script>
  </body>
</html>
      